<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingreso al Sistema</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="static/img/user.png" th:src="@{/img/user.png}"/>
            </div>
            <form class="col-12" th:action="@{/login}" method="get">
                <div class="form-group" id="user-group">
                    <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password"/>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
            </form>
            <div class="col-12 forgot">
                <a href="#">¿Recordar contraseña?</a>

                </br>
                </hr>
                <!-- a href="https://youtu.be/NEdissnIBNU?t=280">aqui voy</a-->
                <!--a href="https://youtu.be/5kCXN_Q72qI?t=8>aqui voy</a-->
                <!--a-- href="https://youtu.be/5kCXN_Q72qI" class="misnotas">aqui voy</a-->
                <!--a href="https://youtu.be/OiHXoMscd9w?t=957" class="misnotas">aqui voy parte 5</a-->
                <!--a href="https://youtu.be/uqPMd0sdOs0?t=626" class="misnotas"> aqui voy parte 6</a-->
                <!--a href="https://youtu.be/rUOG8P4Z9HM" class="misnotas"> aqui voy parte 7</a-->
                <!--a href="https://youtu.be/OPKyKdTGv9A?t=431" class="misnotas"> aqui voy parte 8</a-->
               <!-- https://www.baeldung.com/spring-deprecated-websecurityconfigureradapter -- Aqui esta el error de que en 2023 ya no funciona en el 2023 porque se ha deprecado la funcion de seguridad- -->
                <!--a href="https://youtu.be/f8g4MKKlYMg" class="misnotas"> aqui voy parte 9</a-->
                <!--a-- href="https://youtu.be/C1iiftjczTM" class="misnotas"> aqui voy parte 10</a-->
                <a href="https://youtu.be/XMCv3YRAaL0" class="misnotas"> aqui voy parte 11</a>

                <br>
                <!--a href="http://cristianruizblog.com/spring-boot-aplicacion-web-parte-4/" class="misnotas" >blog explicado</a-->
                <!--a href="http://cristianruizblog.com/spring-boot-aplicacion-web-parte-5/" class="misnotas" >blog explicado</a-->
                <!--a-- href="http://cristianruizblog.com/spring-boot-aplicacion-web-parte-6/" class="misnotas" >blog explicado</a-->
                <!--a-- href="http://cristianruizblog.com/spring-boot-aplicacion-web-parte-7/" class="misnotas" >blog explicado</a-->
                <!--a href="http://cristianruizblog.com/spring-boot-aplicacion-web-parte-8/" class="misnotas">blog
                    explicado</a-->
                <!--a href="http://cristianruizblog.com/spring-boot-aplicacion-web-parte-9/" class="misnotas">blog
                    explicado</a-->
                <a href="http://cristianruizblog.com/spring-boot-aplicacion-web-parte-10//" class="misnotas">blog
                    explicado</a>


                <br>
                <a href="https://javaee.github.io/javaee-spec/javadocs/javax/validation/constraints/package-summary.html"
                   class="misnotas">Referencia de Validaciones</a>
                <br>
                <a href="https://youtu.be/uzQ1KOJmMQ4?t=27"
                   class="misnotas">Teroria Sobre SOLID</a>

            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                You have been logged out.
            </div>
        </div>
    </div>
</div>
</body>
</html>
